@import "styles/_variables";

.projects-tiled {
  background-color: #eee;

  .project-tiled {
    padding: 5px;

    &:hover {
      .project-tiled-name {
        color: $accent;
      }
      .dark-overlay {
        background-color: white;
      }
    }

    .image {
      height: 100%;
      width: 100%;
      background-size: cover;
      background-position: center;
      position: absolute;
    }

    .dark-overlay {
      background-color: rgba(0,0,0,.2);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
  .project-tiled-link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    &:hover {
      text-decoration: none;
    }
  }
  .project-tiled-name {
    z-index: 1;
    text-align: center;
    color: white;
  }
}
