.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.highlight {
  text-align: center;
  padding: 5px 15px;
}

.app-content {
  flex-grow: 1;
}

.footer {
  text-align: center;
  opacity: 0.7;
  padding: 1px;
  font-size: 12px;
}
