@import "styles/_variables.scss";

.skills {
  background-color: #eee;

  .tag-list {
    list-style: none;
    padding: 0;
  }

  .tag-list li {
    color: $dark;
  }

  .card-img,
  .cards svg {
    height: 100px;
    margin: 3rem;
  }

  .alternate {
    animation-direction: alternate;
  }
}
