.animated.flicker {
  animation-name: flicker;
}

.duration-s1 {
  animation-duration: 1s !important;
}

.duration-s2 {
  animation-duration: 2s !important;
}

.duration-s3 {
  animation-duration: 3s !important;
}

.duration-s4 {
  animation-duration: 4s !important;
}

.duration-s5 {
  animation-duration: 5s !important;
}

.delay-p1 {
  animation-delay: .1s !important;
}

.delay-p2 {
  animation-delay: .2s !important;
}

.delay-p3 {
  animation-delay: .3s !important;
}

.delay-p4 {
  animation-delay: .4s !important;
}

.delay-p5 {
  animation-delay: .5s !important;
}

@keyframes flicker {
  40% {
    opacity: 0.7;
  }

  42% {
    opacity: 0.1;
  }
  43% {
    opacity: 0.7;
  }
  45% {
    opacity: 0.1;
  }
  46% {
    opacity: 0.7;
  }
  48% {
    opacity: 0.1;
  }
  49% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.1;
  }
}
