@import "../_variables.scss";

.info {
  margin-top: 120px;
  margin-bottom: 120px;
  z-index: 1;
  .svg-inline--fa {
    border-radius: 50%;
    border-width: 1px;
    padding: 15px;
    width: 35px;
    height: 35px;
    margin: 10px;
  }

  .fa-linkedin {
    color: white;
    background-color: rgba(0, 102, 153, .7);
    &:hover {
      background-color: #069;
    }
  }
  
  .fa-stack-overflow {
    color: #fff;
    background-color: rgba(245, 151, 77, .7);
    &:hover {
      background-color: #f5974d;
    }
  }
  
  .fa-github-alt {
    color: #fff;
    background-color: rgba(110, 84, 148, .7);
    &:hover {
      background-color: #6e5494;
    }
  }
}

.footer {
  color: #999;
}
