@import "../_variables.scss";

// https://webdesign.tutsplus.com/tutorials/building-a-horizontal-timeline-with-css-and-javascript--cms-28378

$black-p15: rgba(0, 0, 0, 0.15);
$black-p4: rgba(0, 0, 0, 0.4);

$box-size: 400px;
$line-size: 200px;

.journey .btn-accent {
  color: #333 !important;
  background: $black-p15;
}

.border-left-transparent {
  border-color: transparent !important;
}

.timeline {
  white-space: nowrap;
  * {
    transition: all 1s;
  }
  ol {
    font-size: 0;
    padding: 0;
    list-style: none;
    text-align: left;

    li {
      position: relative;
      padding-left: 15px;
      padding-bottom: 15px;
      border-left: 3px solid $black-p4;

      &:last-child {
        display: none;
        border-left: none;
      }

      .line {
      }

      .dot {
        position: absolute;
        top: 2px;
        left: -7px;
        bottom: 0;
        width: 12px;
        height: 12px;
        transform: translateY(-50%);
        border-radius: 50%;
      }
    }

    div {
      position: relative;
      font-size: 1rem;
      padding: 15px;
      background: $black-p15;
      border-radius: 0.25rem;
      text-align: left;
      border-top-left-radius: 0;
      white-space: normal;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 100%;
        width: 0;
        height: 0;
        border-width: 0 8px 8px 8px;
        border-color: transparent $black-p15 transparent transparent;
        border-style: solid;
      }

      p,
      small {
        color: #333;
      }

      h5 {
        color: #333;
      }

      p {
        margin-bottom: 0;
      }
    }
  }
}

@media (min-width: 950px) {
  .btn.arrow {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .timeline {
    overflow-x: hidden;
    ol {
      padding: 250px 0;
      text-align: center;

      li {
        position: relative;
        display: inline-block;
        list-style-type: none;
        margin-left: 12px;
        padding-left: 0;
        padding-bottom: 0;
        border-left: none;
        width: $line-size;
        height: 3px;

        &:first-child,
        &:first-child .line {
          width: 50px;
        }

        &:last-child,
        &:last-child .line {
          display: inline-block;
          width: 450px;
        }

        // Odds
        &:nth-child(odd) div {
          top: -16px;
          transform: translateY(-100%);
          border-bottom-left-radius: 0;
        }
        &:nth-child(odd) div::before {
          top: 100%;

          border-width: 8px 8px 0 0;
          border-color: $black-p15 transparent transparent transparent;
        }

        // Evens
        &:nth-child(even) div {
          top: calc(100% + 16px);
          border-top-left-radius: 0;
        }
        &:nth-child(even) div::before {
          top: -8px;

          border-width: 8px 0 0 8px;
          border-color: transparent transparent transparent $black-p15;
        }

        .line {
          background: $black-p4;
          position: absolute;
          height: 3px;
          left: 0;
          width: $line-size;

          
        }

        .dot {
          top: 50%;
          left: 100%;
          right: 0;
        }

        div {
          position: absolute;
          left: calc(100% + 5px);
          width: $box-size;
          margin-bottom: 0;
          border-top-left-radius: 0.25rem;

          &::before {
            top: 100%;
            left: 0;
          }
        }
      }
    }
  }
}
