.experience-section {
  display: flex;
  flex-wrap: wrap;
}

.section {
  flex: 1;
  flex-grow: 1;
  white-space: nowrap;
}

.divider {
  flex-basis: 1px;
  align-self: stretch;
  margin: 0 30px;
  background: #ddd;
}

.years-of-experience {
  display: flex;
  align-items: center;

  .years {
    font-size: 40px;
    margin-right: 15px;
  }
}
